[req]
prompt = no
distinguished_name = dn
x509_extensions = root_ca

[dn]
C = VN
ST = HCMC
L = Ho Chi Minh City
O = UNIT TECHNOLOGY CORPORATION
OU = Technology Innovation Department
CN = UNIT Camunda Local Development Root CA
emailAddress = rd@unit.com.vn

[root_ca]
basicConstraints = critical,CA:TRUE,pathlen:0
keyUsage = critical,keyCertSign,cRLSign
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
